<navbar></navbar>
<div style="padding: 50px;" *ngIf="userToUpdate">
    <h2>User Form</h2>
    <form #userForm="ngForm" (ngSubmit)="updateUser(userForm.value)">
        <div class="mb-3 form-group">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" minlength="3" maxlength="12" name="name" #userName="ngModel" placeholder="your name" [(ngModel)]="userToUpdate.name" required>
            <div class="alert alert-danger" *ngIf="!userName.valid && userName.touched">
                <div *ngIf='userName.errors?.required'>Name is required ...</div>
                <div *ngIf='userName.errors?.minlength'>min length is 3 characters ...</div>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" minlength="10" maxlength="30" #userEmail="ngModel" name="email" placeholder="your email" [(ngModel)]="userToUpdate.email" required>
            <div class="alert alert-danger" *ngIf="userEmail.touched && !userEmail.valid">
                <div *ngIf='userEmail.errors?.required'>Email is required ...</div>
                <div *ngIf='userEmail.errors?.minlength'>min length is 10 characters ...</div>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Role</label>
            <input type="text" class="form-control" minlength="3" maxlength="12" #userRole="ngModel" name="role" placeholder="your role" [(ngModel)]="userToUpdate.role" required>
            <div class="alert alert-danger" *ngIf="!userRole.valid && userRole.touched">
                <div *ngIf='userRole.errors?.required'>Role is required ...</div>
                <div *ngIf='userRole.errors?.minlength'>min length is 3 characters ...</div>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Status</label>
            <input type="text" class="form-control" minlength="3" maxlength="12" #userStatus="ngModel" name="status" placeholder="your status" [(ngModel)]="userToUpdate.status" required>
            <div class="alert alert-danger" *ngIf="!userStatus.valid && userStatus.touched">
                <div *ngIf='userStatus.errors?.required'>Status is required ...</div>
                <div *ngIf='userStatus.errors?.minlength'>min length is 3 characters ...</div>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Creatin Date</label>
            <input readonly value="creationDate" type="text" class="form-control" name="creationDate" [(ngModel)]="userToUpdate.creationDate" ngModel>
        </div>
        <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Update</button>
    </form>
</div>