<navbar></navbar>
<div style="padding: 50px;">
    <h2>The exsisting users list ...</h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Cr.Date</th>
                <th scope="col">Email</th>
                <th scope="col">Rlole</th>
                <th scope="col">Status</th>
                <th scope="col">Update/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;let i=index">
                <th>{{user.name}}</th>
                <th>{{user.creationDate}}</th>
                <th>{{user.email}}</th>
                <th>{{user.role}}</th>
                <th>{{user.status}}</th>
                <th style="padding-left: 20px;">
                    <span style="padding: 10px; ">
                        <i style="color: rgb(109, 108, 108);" (click)="onUpdate(user.id)" type="button" class="material-icons">person</i>
                    </span>
                    <span style="padding: 10px;">
                        <i style="color: rgb(218, 42, 42);" (click)="deleteUser(user)" type="button" class="material-icons">delete</i>
                    </span>
                </th>
            </tr>
        </tbody>
    </table>
    <span>
        <button routerLink='/search' class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </span>
</div>