<navbar></navbar>
<div class="container">
    <div class="row" style="padding: 50px 0px;">
        <div class="col-12 col-lg-6" style="padding: 20px 20px;">
            <div class="card" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/62102795?s=400&u=b4a8c0c6013a7bfa77f740e3602cd0da6b4475c7&v=4" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Amro Amro</h5>
                    <p class="card-text">Software Engineer intern at Professional Software Engineering Unit (PSEU), and Computer Engineering Student at PPU</p>
                    <a routerLink="/" class="btn btn-primary">Go to home page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6" style="padding: 20px 20px;">
            <div class="card">
                <div class="card-header">
                    The gole of this Application ...
                </div>
                <div class="card-body">

                    <p style="font-size: x-large;">
                        This application is made to practice the basics of the Angular Framework, and it is a part of the PSEU training.
                    </p>
                    <strong style="font-size: large;">
                        In this application, I applied the following concepts/ideas.
                    </strong>
                    <ul class="list-group">
                        <li class="list-group-item">Routing between components.</li>
                        <li class="list-group-item">How to deal with service and inject it into components using the Dependency injection.</li>
                        <li class="list-group-item">How to contact with a Firebase.</li>
                        <li class="list-group-item">Applying the CRUD operation with Firestore cloud on firebase.</li>
                        <li class="list-group-item">How to write a good form with validations on the fields.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>