<navbar></navbar>
<div style="padding: 20px;" class="container-fluid">
    <div style="padding: 10px;" class="jumbotron">
        <h1 class="display-4">Welcome to the User Manager Application</h1>
        <p class="lead">This is a simple user manger application to manage the users in the company ...</p>
        <hr class="my-4">
        <p>Here you can add a new user or search for to an exsistng users!</p>
        <span>
            <span style="padding-right: 10px;">
                <button routerLink='/form'  type="button" class="btn btn-outline-success">Add new user</button>
            </span>
        <span style="padding-top: 10px;">
                <button routerLink='/search' class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
            </span>
        </span>
    </div>
</div>